

.progress_bg {
  background-color: var(--each-orphanage-home-bg)!important;
  border-radius: 20px;
  height: 15px;
  width: 100%;

  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sec-color);
    border-radius: 20px;
    height: 100%;
    max-width: 100%;
    transform: 1s ease 0.3s;
    
  }
}
.completed_donation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

  .icon{
    padding: 0.5rem;
    font-size: 5rem;
    border-radius: 50%;
    border: solid 3px;
    color: green;
  }
  p{
    font-size: 2.5rem;
    line-height: 1;
  }
}
.done_btn{
  cursor: not-allowed;
  background-color: #83a4d053;
}
@media  screen and (max-width:740px) {
    .progress_bg{
      
        .progress{

        }
    }
    h2 {
      line-height: 2rem;
    }
    p{
      line-height: 2rem;
    }
}