.donation-amount {
  padding: 20px 5%;
}
.donation-amount .donation {
  padding: 30px 20px;
  width: 100%;
  position: relative;
  background-color: var(--laying-color);
  border-radius: 8px;
}
.donation-amount .donation .input-field {
  padding: 50px 0 0;
  margin: 10px 0;
}
.donation-amount .donation .input-field > div {
  margin: 20px 0;
}
.donation-amount .donation .input-field > div label {
  display: block;
  text-transform: capitalize;
  margin: 7px 0;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
}
.donation-amount .donation .input-field > div input,
.donation-amount .donation .input-field > div select {
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  border: 0.5px solid var(--par-color);
  border-radius: 8px;
  font-size: 18px;
}
.donation-amount .donation .input-field > div .select {
  position: relative;
}
.donation-amount .donation .input-field > div .select img {
  width: auto;
  position: absolute;
  top: 45%;
  right: 20px;
  transition: transform 0.3s;
}
.donation-amount .donation .input-field > div .select:active img {
  transform: rotate(180deg);
}
.donation-amount .donation .input-field > div select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.donation-amount .donation .input-field > div input::-moz-placeholder {
  font-size: 18px;
}
.donation-amount .donation .input-field > div input::placeholder {
  font-size: 18px;
}
.donation-amount .donation button {
  padding: 20px;
  width: 100%;
  background-color: var(--sec-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0;
}
.donation-amount .donation button a {
  color: var(--tie-color);
}
.donation-amount .donation .btn.donate_btn {
  display: block;
}

@media screen and (min-width: 700px) {
  .donation-amount {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 2%;
    gap: 20px;
  }
  .donation-amount .donation {
    padding: 70px 20px;
    width: 100%;
  }
  .donation-amount .donation h3 {
    margin: 5px 0 10px;
  }
  .donation-amount .donation .input-field {
    padding: 50px 0 0;
    margin: 5% 0 20px;
  }
}
@media screen and (min-width: 1000px) {
  .donation-amount {
    padding: 20px 5%;
  }
}