.payment {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .circle:first-child {
    background-color: var(--wrapper-bg2);
  }

  .circle:last-child {
    background-color: var(--sec-color);
  }

  .circle:nth-child(3) {
    background-color: var(--wrapper-bg2);
  }

  .donation {
    padding: 30px 20px;
    width: 100%;
    position: relative;
    background-color: var(--laying-color);
    border-radius: 8px;

    h3 {
      margin: 20px 0;
    }

    .input-field {
      padding: 10px 0 0;
      margin: 10px 0;
      .pin-size {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width:100%;
        div{
        
          margin-right: 10px ;
        }
      }
      div {
        margin: 20px 0;

        label {
          display: block;
          text-transform: capitalize;
          margin: 7px 0;
          font-size: 16px;
          line-height: 24px;
          color: #151515;
        }

        input,
        select {
          width: 100%;
          padding: 10px 20px;
          height: 50px;
          border: 0.5px solid var(--par-color);
          border-radius: 8px;
          font-size: 18px;
        }

        input::placeholder {
          font-size: 18px;
        }
      }
    }

    a.btn.donate_btn2 {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (min-width: 700px) {
  .payment {
    padding: 20px 2%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .payment {
    padding: 20px 5%;
  }
}
