.input {
  position: relative;
  padding: 3rem;
}
.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_box {
  width: 100vw;
  border-radius: 50px;
  padding: 1.4rem 3.5rem;
  font-size: 16px;
  border: none;
  transition: var(--mainTransition);
  background-color: var(--laying-color);
}

.input_box:focus {
  box-shadow: 0 0 3.5px black;
  outline: none;
}

.input_icon {
  position: absolute;
  margin: 1.5rem;
  font-size: 25px;
}

@media screen and (max-width:740px) {
  .input_box{
    font-size: 12px;
    padding-right:0;
  }


  .input_icon {
    position: absolute;
    margin: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 1.5rem;
    font-size: 25px;
  }
}