.persuation-page {
  padding: 20px 10px;
  width: 100%;
  position:relative;
}
.persuation-page main{
  padding:40px;
  position:absolute;
  top:20px;
  width:95%;
  height:33vh;
  background-color:rgba(0, 0, 255, 0.681);
  border-radius:10px;
}
.persuation-page aside {
  background-image:url('/src/assets/Home icons and images/bg.png');
  background-repeat:no-repeat;
  background-size:cover;
  color: var(--tie-color);
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.persuation-page aside h2 {
  font-weight: var(--font-weight);
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 25px;
  z-index:3;
}
.persuation-page aside .donate_btn2 {
  background-color: var(--tie-color);
  color: var(--sec-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: var(--font-weight);
  width: 60%;
  z-index:2;
}

@media screen and (min-width: 700px) {
  .persuation-page {
    padding: 20px 5%;
  }
  .persuation-page main{
    height:270px;
    width:90%;
  }
  .persuation-page aside h2 {
    font-size: 38px;
    line-height: 52px;
  }
  .persuation-page aside button {
    width: 40%;
    padding: 18px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1000px) {
  .persuation-page main{
    height:70vh;
  }
  .persuation-page aside {
    padding: 100px 18%;
  }
  .persuation-page aside h2 {
    font-size: 48px;
    line-height: 72px;
    margin: 0 0 40px;
  }
  .persuation-page aside .donate_btn2{
    width:30%;
    transition:color .6s ease-in;
  }
  .persuation-page aside .donate_btn2:hover{
    color:white;
  }
}

@media screen and (max-width:1300px){
  .persuation-page main{
    height:55vh;
  }
}