.why-us {
  padding: 20px 10px;
  height: auto;
}
.why-us div {
  background-color: var(--laying-color);
  border-radius: 8px;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 25px 10px;
}
.why-us div .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 2%;
  background-color: var(--wrapper-bg);
}
.why-us div .image-wrapper span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.why-us div .image-wrapper span .icon {
  color: #1563c8;
  width: auto;
  font-size: 90px;
  height: auto;
}
.why-us div .image-wrapper span .img2 {
  width: 100%;
}
.why-us div h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}
.why-us div p {
  font-size: 14px;
  line-height: 21px;
}

@media screen and (min-width: 700px) {
  .why-us {
    padding: 20px 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .why-us div {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1000px) {
  .why-us {
    gap: 20px;
  }
  .why-us div {
    padding: 30px 20px;
  }
  .why-us div h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .why-us div p {
    font-size: 16px;
    line-height: 24px;
  }
}