.verified-orphanages {
  padding: 20px 10px;
}
.verified-orphanages h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: var(--font-weight);
  text-transform: capitalize;
}
.verified-orphanages .deskOrphanage {
  display: none;
}
.verified-orphanages aside div {
  background-color: var(--laying-color);
  padding: 20px 25px;
  margin: 15px 0;
  border-radius: 8px;
}
.verified-orphanages aside div img {
  margin: 0 0 15px;
}
.verified-orphanages aside div h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: var(--font-weight);
  margin: 15px 0;
  text-transform: capitalize;
}
.verified-orphanages aside div p {
  font-size: 14px;
  line-height: 21px;
}

@media screen and (min-width: 700px) {
  .verified-orphanages {
    padding: 20px 5%;
  }
  .verified-orphanages aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .verified-orphanages aside div {
    padding: 20px 10px;
  }
}
@media screen and (min-width: 1000px) {
  .verified-orphanages h3 {
    font-size: 40px;
    line-height: 60px;
  }
  .verified-orphanages .mobileOrphanage {
    display: none;
  }
  .verified-orphanages .deskOrphanage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .verified-orphanages .deskOrphanage div {
    flex: 30%;
  }
  .verified-orphanages aside {
    gap: 20px;
  }
  .verified-orphanages aside div h4 {
    font-size: 24px;
    line-height: 36px;
  }
  .verified-orphanages aside div p {
    font-size: 16px;
    line-height: 24px;
  }
}