@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #151515;
  --sec-color: #1563c8;
  --tie-color: #f2f2f2;
  --par-color: #333333;
  --font-weight: 700;
  --laying-color: #f8fbff;
  --wrapper-bg: #e6f1fe;
  --wrapper-bg2: #d4e2f4;
  --mainTransition: all 0.4s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 5px 5px 5px rgba(0, 0, 0, 0.244);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --each-orphanage-home-bg: #d1e5fe;
}

body {
  background-color: white;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 100%;
  display: block;
}
.btn {
  padding: 15px 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn:hover {
  box-shadow:0 0 0 100vmax inset  rgba(0, 0, 0, 0.387);
} 
.btn:active {
  transform: scale(.9);
} 

.donate_btn {
  background-color: var(--sec-color);
  color: white;
}
.donate_btn2 {
  font-weight: 100;
  background-color: var(--sec-color);
  color: white;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
  text-transform: capitalize;
}
.error {
  margin-bottom: 0;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error_page {
  text-align: center;
  color: var(--primary-color);
  font-size: 36px;
  margin-top: 2rem;
}
.error_icon {
  font-size: 60px;
}
@media screen and (max-width: 740px) {
  .error_page {
    font-size: 26px;
  }
}
