.campaign_container {
  padding: 100px 5%;
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.campaign_container .campaign_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.campaign_container .campaign_content h2 {
  font-size: 32px;
  line-height: 2.5;
}
.campaign_container .campaign_content .btn {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.campaign_container article {
  max-width: 50%;
}
.campaign_container section.campaign_content {
  background: var(--laying-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 80px 32px;
  gap: 26px;
}

.back_btn {
  margin: 5%;
}

@media screen and (max-width: 740px) {
  .campaign_container {
    padding: 100px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    overflow: hidden;
  }
  .campaign_container .campaign_content h2 {
    font-size: 26px;
  }
  .campaign_container .campaign_content .btn {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
  }
  .campaign_container article {
    max-width: 100%;
  }
  .campaign_container section.campaign_content {
    padding: 50px 10px;
    gap: 20px;
  }
}